
/******************************** BODY AND UNIVERSAL  ***************************/

body {font-family: arial;
    margin: 0px;}

textarea {resize: none;}

.shadow{box-shadow: 5px 5px 5px #dddddd;}

            
hr {border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }


.righter    {text-align: right;}

.righter_light    {text-align: right;
                    font-size: .8em;}

.lefter_light    {text-align: left;
                    font-size: .7em;}

.lefter    {text-align: left;}

.center    {text-align: center;}

.center_light    {text-align: center;
                    font-size: .7em;}

.bold   {font-weight: bolder}

.smaller    {font-size: .7em;}

.error  {color:red;
        font-size: .8em;
        font-weight: bold;}



/******************************** LINKS AND INPUT ***************************/
a {text-decoration: none;
    cursor: pointer;}

.body_link_xsmall   {font-size: .6em;
                    font-family: 'Josefin Slab', Arial, sans-serif;}
.body_link_xsmall a:link {color:#4F94CD;}
.body_link_xsmall a:hover   {color:#0000EE;}
.body_link_xsmall a:visited {}
.body_link_xsmall a:active  {color:#9FB6CD;}


.body_link  {font-size: 1em;
            font-family: 'Josefin Slab', Arial, sans-serif;}
.body_link a:link {color:#4F94CD;}
.body_link a:hover   {color:#0000EE;}
.body_link a:visited {}
.body_link a:active  {color:#9FB6CD;}

.body_link_small   {font-size: .8em;
                    font-family: 'Josefin Slab', Arial, sans-serif;}
.body_link_small a:link {color:#4F94CD;}
.body_link_small a:hover   {color:#0000EE;}
.body_link_small a:visited {}
.body_link_small a:active  {color:#9FB6CD;}


/******************************** NAVBAR  ***************************/
            
#nav_bar    {
            background-color: rgb(61, 89, 171);
            margin-left: 0px;
            position: fixed;
            top: 0px;
            border: none;
            width: 100%;
            height: 70px;
            z-index: 5;
            margin-bottom: 0px;
            }

#nav_bar_inner {width: 100%;
                height: 70px;

                
                margin: auto;
                margin-top: 0px;
                padding: 0px;
                margin-bottom: 0px;}

#name_box   {margin: 0px;
            padding: 0px;
            margin: auto;
            height: 70px;}


#name_text  {
            height: 70px;
            width: 90%;
            margin-left: 10px;
            margin-right: 10px;
            overflow: hidden;
            }

#name_text p    {display: table-cell; 
                
                height: 70px; 
                vertical-align: middle;}

.name   {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        text-align: center;
        font-size: 2em;
        line-height: 90%;}


.nav_bar_links_button   {z-index: 8;
                        position: fixed;
                        top:17px;
                        right: 8px;
                        cursor: pointer; }


.address_bar    {height: 40px;
                padding: 0px;
                width: 100%;
                opacity: .85;
                background-color:#CAE1FF;
                z-index: 0;}



.address_bar p      {width: 99%;
                    padding: 0px;
                    font-size: 3.5vw;
                    overflow: scroll;
                    text-align: center;
                    color:white;
                    letter-spacing: .1em;
                    font-family: 'Oswald', sans-serif;
                    margin:auto;}   

.address_city       {}

.nav_bar_links  {display: block;
                margin-left: 300px;
                visibility: hidden;} 

.nav_bar_links_mobile {position: fixed;
                    font-family: 'Oswald', sans-serif;
                    font-size: 2em;
                    line-height: 1.5em;
                    top: -330px;
                    left: 0px;
                    margin: auto;
                    background-color: rgba(255,255,255, .9);
                    padding:30px;
                    height: 270px;
                    width: 100%;
                    display: block;
                    z-index: 9;
                    box-shadow: 5px 5px 10px #888888;
                    } 

.mobile_nav_bar_closer   {display: block;
                        position: relative;
                        bottom: -10px;
                        left:-5px;}

.nav_bar_links_mobile a:link {color:#4F94CD;}
.nav_bar_links_mobile a:hover   {color:#0000EE;}
.nav_bar_links_mobile a:visited {}
.nav_bar_links_mobile a:active  {color:#9FB6CD;}

.nav_bar_links  span {min-width: 570px;
                    display: table-cell;
                    vertical-align: bottom;
                    font-size: 1.5em;
                    height: 90px;
                    font-family: 'Oswald', sans-serif;
                    padding: 10px;}

                   


/********************************  FOOTER ***************************/           
                        
footer {padding: 5px;
        height: 50px;
        position: fixed;
        bottom:0%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        background-color: #7face3;}      

#footer_info_right   {text-align: right;
                    color: white;
                    font-size: .6em;
                    float: right;
                    padding-right: 50px;
                    height: 50px;}   

#footer_info_left   {
                    height: 40px;
                    color:white;
                    padding-left:10px;
                    padding-bottom: 50px;
                    width: 200px;
                    font-size: .6em;
                    text-align: left;
                    }
.property_management_logo_box   {height:30px;
                                padding: 0px;
                                margin: 0px;}

.property_management_logo_box img {height: 30px;}

.social_box {position: absolute;
            bottom:10px;
            right: 100px;}

.badges_box {position: absolute;
            bottom: 10px;
            right:20px;}

.footer_address {visibility: hidden;}


/******************************** BACKGROUND  ***************************/

#background_image   {width: 100%;
                    display: block;
                    margin: auto;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: -4;}

#background_image img   {width: 100%;
                        z-index: -6;}

.background_fade    {width: 100%;
                    display: block;
                    position: fixed;
                    top: 0px;
                    margin: auto;
                    height: 1000vh;
                    background-color: rgba(255,255,255,.6);
                    z-index: -2;}

.background_gradient    {width: 100%;
                        margin: auto;
                        height: 120px;
                        z-index: 0;
                        position: relative;
                        top: -119px;
                        background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
                        background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
                        background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
                        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */}

/********************************   BODY   ***************************/


.logo_box   {margin: auto;
            width:95%;
            margin-top: 130px;
            max-width: 1100px; }

#logo           {
                display: block;
                margin: auto;
                width:95%;
                max-width: 1100px;
                min-width: 300px;}

.outer_description  {
                    width: 100%;
                    background-color: rgba(255,255,255, .7);
                    padding: 0px;
                    margin: 0px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                    }

.inner_description  {text-align: center;
                    width: 70%;
                    max-width: 700px;
                    margin: auto;
                    padding: 10px;
                    }

.slogan {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;
        text-align: center;}

.description    {font-size: 1.1em;
                letter-spacing: .05em;}


/********************************   PICTURES   ***************************/


.big_pic_box   {margin: auto;
                width:100%;
                margin-bottom: 200px;
                max-width: 1100px; 
                padding:20px;}


.pic_main_text  {margin: auto;
                margin-top: 100px;
                text-align: center;
                background-color: rgba(255, 255, 255, .6);
                box-shadow: 3px 3px 6px #888888;
                padding: 20px;
                width: 100%;
                font-size: 1.1em;
                letter-spacing: .05em;
                color: #adadad;
                font-family: 'Josefin Slab', Arial, sans-serif;}

.pic_main_text_none  {margin: auto;
                    margin-top: 100px;
                    width: 100%;}

.pic_main_text p    {width: 80%;
                    max-width: 1000px;
                    margin: auto;
                    display: block;}


.not_seen_pic_box  {width: 100%;
                    padding: 0px;
                    margin: auto;}


.small_pic_box  {width: 80%;
                display: block;
                background-color: rgba(255,255,255, .7);
                margin: 10px;
                margin-bottom: 60px;
                padding: 10px;
                float:left;
                cursor: pointer;}

.small_pic_box_shadow  {width: 80%;
                        display: block;
                        background-color: white;
                        margin: 10px;
                        margin-bottom: 60px;
                        padding: 10px;
                        float:left;
                        box-shadow: 2px 2px 5px #555555;}

.small_pic_box img  {width: 100%;}

.small_pic_box_shadow img  {width: 100%;}

.view_pic_box   {position: absolute;
                top:0px;
                left:0px;
                z-index: 6;
                width: 100%;
                display: none;
                background-color: rgba(0,0,0, .6);}


.view_small_pic_box {width: 90%;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 600px;
                    background: rgba(0,0,0, .6);
                    padding: 15px;
                    border-radius: 10px;}

.view_small_pic_box img {width: 100%;
                        display: block;
                        margin: auto;}

.close_x    {position: relative;
            display: block;
            float: left;}

.right_arrow    {position: relative;
            display: block;
            float: right;
            padding: 3px;}

.left_arrow    {position: relative;
            display: block;
            float: right;
            padding: 3px;}

.pic_caption {color: white;
            font-family: 'Josefin Slab', Arial, sans-serif;
            text-align: center;
            padding:10px;
            display: block;
            width: 90%;}



/********************************   FLOORPLANS   ***************************/

.floorplan_big_box  {margin: auto;
                    
                    display: block;
                    position: relative;
                    width: 100%;
                    top:90px;
                    margin-bottom: 50px;}

.inner_floorplan_box {box-shadow: 3px 3px 6px #888888;
                    background-color: rgba(255,255,255, .6);
                    margin: auto;
                    width: 100%; 
                    padding: 5px;
                    margin-top: 30px;
                    margin-bottom: 50px;
                    overflow: auto;}

.floorplan_pic  {width: 95%;
                min-height: 150px;
                margin: auto;
                background-color:rgba(255,255,255, .6);
                border: 1px solid #ccc;}

.floorplan_pic img {width: 100%;}

.floorplan_info     {width: 95%;
                    margin: auto;}


.floorplan_info table   {width: 100%;
                        border-collapse: collapse;
                        background-color:rgba(255,255,255, .6)}

.floorplan_info table tr    {height: 35px;
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                            }

.floorplan_info table tr td {padding:5px;}

.floorplan_name {color:black;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.5em}

.floorplan_text {color:black;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.1em}

.floorplan_text_small   {font-family: 'Josefin Slab', Arial, sans-serif;
                        font-size: 1em}
.mobile_floorplan_bottom    {height: 60px;}

/********************************   AMENITIES   ***************************/

.amenities_big_box  {margin: auto;
                    display: block;
                    position: relative;
                    top:0px;
                    width: 100%;
                    margin: auto;
                    margin-bottom: 250px;}

.inner_amenities_box {
                    /*background-color: rgba(255,255,255, .6);*/
                    position: relative;
                    display: block;
                    margin: auto;
                    width: 100%; 
                    margin-bottom: 20px;
                    overflow: auto;}

.amenities_pic  {width: 100%;
                visibility: hidden;
                height: 1px;
                padding: 0px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888; }

.amenities_pic img {width: 100%;}

.amenities_text {width: 100%;
                padding: 15px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:black;
                margin-bottom: 0px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.2em }

.amenities_pet {width: 100%;
                padding: 15px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:black;
                margin-top: 20px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.2em }

.amenities_pet_small    {font-size: .9em;}
.amenities_pet_xsmall    {font-size: .9em;}

.amenities_list {width: 100%;
                margin-top: 130px;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:black;
                margin-bottom: 20px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.4em}

.amenities_list ul li {line-height: 1.5em;}

.amenities_title    {font-size: 1.4em;
                    display: block;
                    text-align: center;}

.super  {vertical-align: super;
        font-size: .4em;}

/********************************   CONTACT   ***************************/


.contact_box    {visibility: hidden;
                height: 0px;
                margin: 0px;}

.contact_box_mobile {margin: auto;
                    display: block;
                    position: relative;
                    top:120px;
                    margin-bottom: 50px;}

.contact_box_inner  {box-shadow: 3px 3px 6px #888888;
                    background-color: rgba(255,255,255, .7);
                    border: 1px solid #ccc;
                    margin: auto;
                    width: 100%; 
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: auto;
                    font-family: 'Josefin Slab', Arial, sans-serif;
                    font-size: 1.4em;
                    color:black; }

.contact_box_inner input, textarea {
                            border: 3px solid #E5E5E5; 
                            -webkit-box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            -moz-box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            padding: 5px;
                            background: white;
                            margin: 0 0 5px 0;
                        }

.button_style   {cursor: pointer;
                color:#8B7355;}

.hours_list {font-size: .8em;
            line-height:1.6em;}

.below_hours    {height: 100px;}

#map-canvas-mobile {margin: auto;
            padding: 10px;
            box-shadow: 3px 3px 6px #888888;
            background-color: rgba(255,255,255, .85);
            border: 1px solid #ccc;
            height: 400px;
            width: 100%;
            margin-bottom: 20px;}

.address_box {margin: auto;
            padding: 5px;
            padding-left: 15px;
            box-shadow: 3px 3px 6px #888888;
            background-color: rgba(255,255,255, .85);
            border: 1px solid #ccc;
            height: 70px;
            width: 100%;
            background-color:rgba(255,255,255, .8);
            color:black;
            font-family: 'Oswald', Arial, sans-serif;
            font-size: 1.4em; }



/********************************   SPECIAL   ***************************/

.special_box    {z-index: 7;
                height: 44px;
                width: 580px;
                box-shadow: 1px 1px 6px #888888;
                background-color: rgba(255,255,255, .7); 
                position: fixed;
                display: block;
                font-family: 'Oswald', sans-serif;
                padding: 5px;
                color:#8B7355;
                top:-110px;
                right:0px;
                visibility: hidden;}

.special_title   {z-index: 8;
                font-family: 'Oswald', sans-serif;
                font-size: 1.3em;
                height: 35px;
                max-width: 225px;
                margin-right: 10px;
                float: left;
                overflow: hidden;}

.special_description   {z-index: 8;
                        height: 35px;
                        min-width: 250px;
                        font-size: .8em;
                        overflow: hidden;
                        line-height: 1.1em;}

                
.special_conditions   {z-index: 8;
                        min-width: 250px;
                        font-size: .6em;
                        overflow: hidden;
                        color:black;
                        border-top: 1px dotted gray;}



























































        