/******************************** BODY AND UNIVERSAL  ***************************/

body {
    font-family: arial;
    margin: 0px;
    background:rgb(247,238,232);
}

textarea {resize: none;}

.shadow{box-shadow: 5px 5px 5px #dddddd;}

            
hr {border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }


.righter    {text-align: right;}

.righter_width    {text-align: right;
                width: 35%;}

.righter_light    {text-align: right;
                    font-size: .8em;}

.lefter_light    {text-align: left;
                    font-size: .7em;}

.lefter    {text-align: left;}

.lefter_width    {text-align: left;
                width: 35%;}

.center    {text-align: center;}

.center_light    {text-align: center;
                    font-size: .7em;}

.bold   {font-weight: bolder;}

.smaller    {font-size: .7em;}

.error  {color:red;
        font-size: .8em;
        font-weight: bold;}



/******************************** LINKS AND INPUT ***************************/
a {text-decoration: none;
    cursor: pointer;}

.body_link_xsmall   {font-size: .6em;
                    font-family: 'Roboto Slab', Arial, sans-serif;}
.body_link_xsmall a:link {color:#4F94CD;}
.body_link_xsmall a:hover   {color:#0000EE;}
.body_link_xsmall a:visited {}
.body_link_xsmall a:active  {color:#9FB6CD;}

.body_link_small   {font-size: .8em;
                    font-family: 'Roboto Slab', Arial, sans-serif;}
.body_link_small a:link {color:#4F94CD;}
.body_link_small a:hover   {color:#0000EE;}
.body_link_small a:visited {}
.body_link_small a:active  {color:#9FB6CD;}


.body_link  {font-size: 1em;
            font-family: 'Roboto Slab', Arial, sans-serif;}
.body_link a:link {color:#4F94CD;}
.body_link a:hover   {color:#0000EE;}
.body_link a:visited {}
.body_link a:active  {color:#9FB6CD;}


/******************************** NAVBAR  ***************************/
.mobile_hamburger   {position:fixed;
                    top:5px;
                    right:5px;
                    z-index:50;}      
#nav_bar    {margin-left: 0px;
            position: static;
            top: 0px;
            border: none;
            width: 100%;
            height: 1px;
            z-index: 5;
            margin-bottom: 0px;}

#nav_bar_inner {display:none;
                width:100%;}


#name_box   {display:none;}


#name_text  {display: inline-block;
            position: absolute;
            height: 120px;
            width: 280px;
            margin-left: 20px;
            overflow: hidden;}

#name_text p    {display: table-cell; 
                height: 120px; 
                vertical-align: middle;}

.name   {font-family: 'Yesteryear', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;}

.nav_bar_links_button   {display:none;}

.big_phone  {font-family: 'Roboto Slab', sans-serif;
            font-size: 2.8em;
            letter-spacing: .03em;
            text-shadow: 3px 3px 9px #000000;
            position:relative;
            top:-60px;
            text-align: center;}


.address_bar_inner      {font-size: 1.2em;
                        color:white;
                        font-family: 'Roboto Slab', sans-serif;
                        text-shadow: 3px 3px 9px #000000;
                        margin:auto;
                        position:relative;
                        top:-100px;}

#lower_logo_line    {position:relative;
                    top:-94px;}


.address_text_mobile   {visibility: hidden;}

.nav_bar_links  {margin-left: 310px; 
                min-width: 480px;
                position: relative;
                top:65px;} 


.nav_bar_links_mobile {position:fixed;
                    top:0px;
                    right:-280px;
                    font-family: 'Roboto Slab', sans-serif;
                    text-shadow:0px 0px 11px #000000;
                    font-size: 2em;
                    line-height: 1em;
                    margin: auto;
                    width: 230px;
                    height:100vh;
                    display: block;
                    z-index: 51;
                    text-align: center;
                    background:rgba(230, 230, 230, 0.9);
                    box-shadow:3px 3px 15px #000;
                    padding:20px;
                    padding-top:40px;
                    } 

.front_page_link:link{color:white;
                     transition:all .15s;}
.front_page_link:visited{color:white;}
.front_page_link:hover{color:#C6C6D4;}
.front_page_link:active{color:#9A99B2;}

#mobile_x   {position:relative;
            top:-447px;
            left:-115px;}

.nav_bar_links  span {font-size: 1.5em;
                    font-family: 'Roboto Slab', sans-serif;
                    display:none;}

.fp_and_prices  {border-top:1px dashed white;
                padding-top:12px;
                padding-bottom:12px;
                font-size:1.1em;}

.amp_word_one   {line-height:1.1;}
.price_word {font-size:1.8em;
            line-height:.9em;}
.pics_link  {border-top:1px dashed white;
            padding-top:12px;
            padding-bottom:12px;
            font-size:1.5em;}

.amen_link  {border-top:1px dashed white;
            font-size:1.3em;
            padding-top:12px;
            padding-bottom:12px;}

.contac_and_loc_link    {border-top:1px dashed white;
                        padding-top:12px;
                        padding-bottom:15px;
                        border-bottom:1px dashed white;
                        font-size:1.5em;}

.amp_word_two   {font-size:.7em;
                line-height:1.5em;}

.loc_word   {font-size:.9em;
            line-height:.6em;}           


/********************************  FOOTER ***************************/
.cont_banner_outer  {width: 1100px;
                    height: 50px;
                    z-index:50;
                    position:fixed;
                    right:25%;
                    left:50%;
                    bottom:0px;
                    margin-left:-550px;}

.cont_banner    {position:relative;
                top:-90px;
                left:820px;}

#cont_svg   {cursor:pointer;
            transition:0.15s;
            transform:scale(0.9);}

#cont_svg:hover {
    transform:scale(1.0);}

.back_banner {box-shadow:0px 0px 25px #000;}      
     
                        
footer {position: fixed;
        bottom: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height:40px;
        background: rgba(0, 0, 0, .7);
        border-top: 1px solid #EBEBEB;
        padding: 0px;
        padding-left: 0px;
        z-index: 3;}




#footer_info_right   {text-align: right;
                    color: white;
                    font-size: .6em;
                    overflow:hidden;
                    position:relative;
                    top:7px;
                    height: 30px;}   

.footer_address {font-size:1.4em;
                letter-spacing:.02em;
                font-weight:bolder;}

.footer_address_noshow {display:none;}

#footer_info_left   {display:none;}
.property_management_logo_box   {display:none;}

.property_management_logo_box img {display:none;}

.social_box {display:none;}

#facebook_logo  {height:30px;
                width:30px;}
#twitter_logo  {height:30px;
                width:30px;}
#instagram_logo  {height:30px;
                width:30px;}
#google_logo  {height:30px;
                width:30px;}

.badges_box {float:right;
            padding-left:10px;
            position:relative;
            top:-5px;}               

/******************************** BACKGROUND  ***************************/

#background_image   {width: 100%;
                    display: block;
                    margin: auto;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: -3;}

#background_image img   {width: 100%;}

.background_fade    {display:none;}

.background_gradient    {width: 100%;
                        margin: auto;
                        height: 120px;
                        z-index: 0;
                        position: relative;
                        top: -119px;
                        background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
                        background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
                        background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
                        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax (must be last) */}

/********************************   BODY   ***************************/

.center_box {width:100%;
            margin:auto;}

.logo_box_mobile   {position:fixed;
            top:0px;
            left:0px;
            display:block;
            width:100%;
            text-align: left;
            background: rgba(0, 0, 0, .6);
            border-bottom:1px solid #EBEBEB;
            padding:5px;
            padding-left:5px;
            z-index: 3;}

.logo_box_mobile a {cursor:pointer;}

.logo_box {display:none;}

#logo           {padding:10px;
                background: rgba(255, 255, 255, .4);
                display: block;
                margin: auto;
                width:95%;}


.outer_description  {width: 100%;
                    padding: 0px;
                    margin: auto;
                    position:relative;
                    padding-bottom:10px;
                    background:rgba(0, 0, 0, .6);
                    border-bottom:1px solid #EBEBEB;
                    border-top:1px solid #EBEBEB;
                    top:190px;}

.inner_description  {text-align: center;
                    width: 100%;
                    padding-bottom:20px;
                    padding-top:20px;
                    margin: auto;
                    color:white;
                    }

.slogan {font-family: 'Bitter', cursive;
        position:static;
        letter-spacing: .05em;
        font-size: 8vw;
        width:80%;
        text-shadow:3px 3px 9px #000000;}

.description    {font-size: 1em;
    line-height:1.2em;
    font-family: 'Roboto Slab', cursive;
    text-shadow:none;
    position:relative;
    top:20px;
    margin:auto;
    width:95%;
    letter-spacing: .05em;
}

.no_logo_header {
    font-family: 'Bitter', sans-serif;
    font-size: 3.5em;
    line-height: 1.2em;
    align-content: center;
    text-shadow: 2px 2px 4px #000000;
}

.no_logo_header_small {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    align-content: left;
    text-shadow: none;
}

.no_logo_header_small_phone {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.1em;
    letter-spacing:.05em;
    line-height: 1.2em;
    align-content: left;
    text-shadow: none;
}

.main_page_links{
    width:100%;
    height:300px;
    padding-top: 20px;
    position:relative;
    top:-100px;
}

.main_page_amen, .main_page_pics, .main_page_floorplans{
    display:inline-block;
    float:left;
    margin-left:85px;
    width: 250px;
    min-height:50px;
    background:white;
    box-shadow: 2px 2px 20px #323232;
}

.box_links  {display:inline-block;
            width:100%;
            height:50px;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 1.8em;
            text-align: center;
            position: relative;
            top: -5%;
            transform: translateY(5%);
            border-bottom: 4px solid black;
}

.box_amen_pic, .box_pic_pic{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    height:200px;
    width:250px;
    overflow:hidden;
}

.main_page_pics{
    transition:all 0.3s;
}

.main_page_pics:hover{
    background:#FFFDC2;
}

.main_page_pics:hover #box_pic_img{
    width:173%;
    top: -21%;
    left: -41%;
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}

#box_pic_img{
    width:170%;
    position: relative;
    top: -20%;
    left: -40%;
    -webkit-filter:grayscale(50%);
    filter:grayscale(50%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}

.main_page_amen{
    transition:all 0.3s;
}

.main_page_amen:hover{
    background:#FFFDC2;
}

.main_page_amen:hover #box_amen_img{
    width:173%;
    top: -21%;
    left: -41%;
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}

#box_amen_img{
    width:170%;
    position: relative;
    top: -20%;
    left: -40%;
    -webkit-filter:grayscale(50%);
    filter:grayscale(50%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}

.main_page_floorplans{
    transition:all 0.3s;
}

.main_page_floorplans:hover{
    background:#FFFDC2;
}

.main_page_floorplans:hover #box_fp_img{
    width:173%;
    top: -21%;
    left: -41%;
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}

#box_fp_img{
    width:170%;
    position: relative;
    top: -20%;
    left: -40%;
    -webkit-filter:grayscale(50%);
    filter:grayscale(50%);
    -webkit-transition: all 0.2s;
    transition:all 0.3s;
}



#map-canvas-main {
                border-top:7px solid black;
                border-bottom:7px solid black;
                height: 500px;
                width: 1100px;}


.under_map{
    width:100%;
    height:300px;
}

.background_slider{width: 105vw;
                    display: block;
                    background-color:white;
                    position: fixed;
                    top:-40px;
                    left:-40px;
                    padding:0px;
                    height: 105vh;
                    z-index: -2;}

.bss-slides {
    position:relative;
}

.bss-slides figure img{
    width:105vw;
    height:105vh;
    object-fit: cover;
}

/********************************   PICTURES   ***************************/


.big_pic_box   {margin: auto;
                margin-bottom: 80px;
                overflow:auto;box-shadow: 3px 3px 10px #000;
                background-color: rgba(255,255,255, .5);
                margin: auto;
                padding: 15px;
                margin-left:0px;
                margin-right:0px;}


.pic_main_text  {text-align: center;
                box-shadow: 3px 3px 10px #000;
                background-color: rgba(255,255,255, .8);
                margin: auto;
                padding: 15px;
                margin-left:0px;
                margin-right:0px;
                margin-top:70px;
                font-size: .9em;
                color: #575757;
                font-family: 'Roboto Slab', Arial, sans-serif;}

.pic_main_text_none  {margin: auto;
                    margin-top: 0px;
                    padding: 20px;
                    width: 100%;}

.pic_main_text p    {width: 90%;
                    max-width: 1000px;
                    margin: auto;
                    display: block;}


.not_seen_pic_box  {width: 90%;
                    padding: 6px;
                    margin: auto;
                    margin-bottom: 20px;
                    }


.small_pic_box  {width: 100%;
                margin-bottom:20px;
                display: block;
                background-color: rgba(255,255,255, .7);
                padding: 6px;
                float:left;
                cursor: pointer;}

.small_pic_box_shadow  {width: 100%;;
                        display: block;
                        background-color: white;
                        padding: 6px;
                        float:left;
                        box-shadow: 2px 2px 5px #555555;}

.small_pic_box img  {width: 100%;}

.small_pic_box_shadow img  {width: 100%;}

.view_pic_box   {position: absolute;
                top:0px;
                left:0px;
                z-index: 6;
                width: 100%;
                display: none;
                background-color: rgba(0,0,0, .6);}


.view_small_pic_box {width: 70%;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 600px;
                    background: rgba(0,0,0, .6);
                    padding: 15px;
                    border-radius: 10px;}

.view_small_pic_box img {max-width: 100%;
                        max-height: 90vh;
                        display: block;
                        margin: auto;}

.close_x    {position: relative;
            display: block;
            float: left;}

.right_arrow    {position: relative;
            display: block;
            float: right;
            padding: 3px;}

.left_arrow    {position: relative;
            display: block;
            float: right;
            padding: 3px;}

.pic_caption {color: white;
            font-family: 'Yesteryear', Arial, sans-serif;
            text-align: center;
            padding:10px;
            display: block;
            width: 90%;}


/********************************   FLOORPLANS   ***************************/

.floorplan_big_box  {margin: auto;
                    padding:10px;
                    display: block;
                    margin-top:0px;
                    padding-top:70px;
                    margin-bottom: 250px;}

.inner_floorplan_box {box-shadow: 3px 3px 10px #000;
                    background-color: rgba(255,255,255, .5);
                    margin: auto;
                    padding: 15px;
                    margin-left:0px;
                    margin-right:0px;
                    margin-bottom: 20px;
                    overflow: auto;}

.floorplan_pic  {width: 100%;
                min-height: 150px;
                background-color:rgba(255,255,255, .6);
                border: 1px solid #ccc; }

.floorplan_pic img {width: 100%;}

.floorplan_info     {width: 100%;
                    margin-bottom:20px;}


.floorplan_info table   {width: 100%;
                        border-collapse: collapse;
                        background-color:rgba(255,255,255, .6);}

.floorplan_info table tr    {height: 35px;
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                            }

.floorplan_info table tr td {padding:10px;}

.floorplan_name {color:black;
                font-family: 'Yesteryear', Cursive, sans-serif;
                font-size: 2.8em;}

.floorplan_text {color:black;
                font-family: 'Roboto Slab', Arial, sans-serif;
                font-size: .8em;}

.floorplan_text_small   {font-family: 'Roboto Slab', Arial, sans-serif;
                        font-size: .8em;}

/********************************   AMENITIES   ***************************/

.amenities_big_box  {margin: auto;
                    padding:10px;
                    display: block;
                    top:0px;
                    margin-bottom: 250px;
                    margin-top:70px;}

.inner_amenities_box {
                    /*background-color: rgba(255,255,255, .6);*/
                    margin: auto;
                    box-shadow: 3px 3px 10px #000;
                    background-color: rgba(255,255,255, .5);
                    margin: auto;
                    padding: 15px;
                    margin-left:0px;
                    margin-right:0px;
                    overflow: auto;}

.amenities_pic  {width: 90%;
                margin:auto;
                padding: 10px;
                margin-bottom: 20px;
                overflow:hidden;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888; }

.amenities_pic img {width: 100%;}

.amenities_text {width: 95%;
                margin:auto;
                padding: 10px;
                text-align:center;
                color:black;
                font-family: 'Roboto Slab', Arial, sans-serif;
                font-size: .9em; }

.amenities_pet {width: 90%;
                margin:auto;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:black;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                font-family: 'Yesteryear', cursive;
                font-size: 1.8em; }

.amenities_pet_small    {font-size: .5em;
                        display:block;
                        text-align:left;
                        font-family: 'Roboto Slab', Arial, sans-serif;}

.amenities_pet_xsmall   {font-size: .5em;
                        text-align:left;
                        font-family: 'Roboto Slab', Arial, sans-serif;}

.amenities_list {width: 90%;
                margin:auto;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:black;
                margin-bottom: 20px;
                font-family: 'Roboto Slab', Arial, sans-serif;
                font-size: .9em;
                line-height:2.3em;}

.amenities_list ul li {line-height: 1.6em;}

.amenities_title    {font-size: 2.3em;
                    display: block;
                    text-align: center;
                    font-family: 'Yesteryear', cursive;}

.super  {vertical-align: super;
        font-size: .4em;}

/********************************   CONTACT   ***************************/


.contact_box    {margin: auto;
                box-shadow: 3px 3px 10px #000;
                background-color: rgba(255,255,255, .5);
                margin: auto;
                margin-top:70px;
                margin-left:0px;
                margin-right:0px;
                z-index:51;}

.contact_box_mobile {visibility: hidden;
                    height: 0px;
                    margin: 0px;}

.contact_box_form  {box-shadow: 0px 3px 6px #888888;
                    background-color: rgba(255,255,255, .85);
                    width: 100%; 
                    margin-top:20px;
                    padding-top:20px;
                    margin-bottom: 20px;
                    overflow: auto;
                    font-family: 'Roboto Slab', Arial, sans-serif;
                    font-size: .9em;;
                    color:black; }

.contact_box_form_maint  {margin: auto;
                        box-shadow: 0px 3px 6px #888888;
                        background-color: rgba(255,255,255, .85);
                        border: 1px solid #ccc;
                        width: 100%; 
                        margin-bottom: 20px;
                        overflow: auto;
                        font-family: 'Roboto Slab', Arial, sans-serif;
                        font-size: .9em;;
                        color:black; }

.contact_box_hours  {box-shadow: 0px 3px 6px #888888;
                    background-color: rgba(255,255,255, .85);
                    padding:10px;
                    -webkit-box-sizing: border-box; 
                    -moz-box-sizing: border-box;
                    box-sizing: border-box; 
                    width: 100%; 
                    margin-bottom: 20px;
                    overflow: auto;
                    font-family: 'Roboto Slab', Arial, sans-serif;
                    font-size: 1.1em;
                    color:black; }

.contact_box_form input {
                        border:none;
                        height:35px;
                        background:#D5DEEF;
                        margin-bottom:10px;
                        padding-left:6px;
                        font-size:1em;
                        font-family: 'Roboto Slab', Arial, sans-serif;
                        color:#160B62;
                        }

.contact_box_form textarea  {
                            border:none;
                            height:70px;
                            background:#D5DEEF;
                            margin-bottom:10px;
                            padding-left:6px;
                            font-size:1em;
                            font-family: 'Roboto Slab', Arial, sans-serif;
                            color:#160B62;
                            }  

.contact_box_form_maint input {
                        border:none;
                        height:35px;
                        background:#D5DEEF;
                        margin-bottom:10px;
                        padding-left:6px;
                        font-size:1em;
                        font-family: 'Roboto Slab', Arial, sans-serif;
                        color:#160B62;
                        }

.contact_box_form_maint textarea  {
                            border:none;
                            height:70px;
                            background:#D5DEEF;
                            margin-bottom:10px;
                            padding-left:6px;
                            font-size:1em;
                            font-family: 'Roboto Slab', Arial, sans-serif;
                            color:#160B62;
                            }              

#contact_table {width:100%;
                margin:auto;}

.button_style   {cursor: pointer;
                color:#8B7355;}

.hours_list {font-size: .8em;
            line-height:1.6em;}
.below_hours    {height: 300px;}

#map-canvas {height: 160px;
            box-shadow: 0px 3px 6px #888888;
            width: 100%;}

.address_box {display:none;}

.map-box    {margin-top:20px;
            margin-bottom:20px;
            width:100%;}

/********************************   SPECIAL   ***************************/

.special_box    {z-index: 60;
                height: 250px;
                width: 550px;
                box-shadow: 7px 7px 30px #000000;
                background-color: rgba(255,255,255, .9); 
                position: fixed;
                display: block;
                font-family: 'Roboto Slab', sans-serif;
                padding: 5px;
                color:#37414E;
                top:-350px;
                left:-10px;}

.special_word   {float:right;
                margin-left:0px;
                position:relative;
                top:-30px;
                left:10px;}

#special_word  {width:35px;}



.special_title   {z-index: 8;
                font-family: 'Bitter', sans-serif;
                font-size: 2.1em;
                padding-left:25px;
                height:80px;
                width: 380px;
                text-align:left;
                margin-top:20px;
                margin-bottom: 20px;
                float: left;
                overflow: hidden;}

.special_description   {z-index: 8;
                        height: 90px;
                        width: 380px;
                        padding-left:25px;
                        float:left;
                        font-size: 1.2em;
                        text-align:left;
                        overflow: hidden;
                        line-height: 1.1em;}

                
.special_conditions   {z-index: 8;
                        width: 380px;
                        padding-left:25px;
                        height:40px;
                        font-size: .6em;
                        overflow: hidden;
                        float:left;
                        color:black;
                        text-align:left;}


.special_burst  {position:relative;
                top:-235px;
                right:0px;
                width:150px;
                opacity:.6;
                z-index:-1;}



























































        