/******************************** BODY AND UNIVERSAL  ***************************/

body {font-family: arial;
    margin: 0px;}

textarea {resize: none;}

.shadow{box-shadow: 5px 5px 5px #dddddd;}

            
hr {border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }


.righter    {text-align: right;}

.righter_light    {text-align: right;
                    font-size: .8em;}

.lefter_light    {text-align: left;
                    font-size: .7em;}

.lefter    {text-align: left;}

.center    {text-align: center;}

.bold   {font-weight: bolder}

.smaller    {font-size: .7em;}

.error  {color:red;
        font-size: .8em;
        font-weight: bold;}



/******************************** LINKS AND INPUT ***************************/
a {text-decoration: none;
    cursor: pointer;}


/*a:link {display: inline;}

a:hover   {color:white;
            background: #A2B5CD;}
a:visited {}
a:active  {color:#DEDEDE; 
          background: #6E7B8B;}*/


/******************************** NAVBAR  ***************************/
            
#nav_bar    {
            background-color: rgb(61, 89, 171);
            margin-left: 0px;
            position: fixed;
            top: 0px;
            border: none;
            width: 100%;
            height: 110px;
            z-index: 5;
            margin-bottom: 0px;
            }

#nav_bar_inner {width: 90%;
                height: 110px;
                max-width: 1100px;
                margin: auto;
                margin-top: 0px;
                padding: 0px;
                margin-bottom: 0px;}

#name_box   {margin: 0px;
            padding: 0px;
            float: left;
            display: block;
            height: 110px;}


#name_text  {display: inline-block;
            position: absolute;
            height: 110px;
            width: 280px;
            margin-left: 20px;
            overflow: hidden;}

#name_text p    {display: table-cell; 
                height: 110px; 
                vertical-align: middle;}

.name   {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;}


.address_bar    {
                min-width: 870px;
                padding: 0px;
                width: 100%;
                opacity: .7;
                background-color:#CAE1FF;
                position: fixed;
                height: 45px;
                z-index: 0;}

.address_bar p      {width: 80%;
                    padding: 0px;
                    font-size: 1.6em;
                    text-align: center;
                    color:white;
                    letter-spacing: .1em;
                    font-family: 'Oswald', sans-serif;
                    /*z-index: 5;*/
                    margin:auto;}   

.nav_bar_links  {display: block;
                margin-left: 300px;
                } 

.nav_bar_links  span {min-width: 570px;
                    display: table-cell;
                    vertical-align: bottom;
                    font-size: 1.5em;
                    height: 90px;
                    font-family: 'Oswald', sans-serif;
                    padding: 10px;}

                   


/********************************  FOOTER ***************************/           
                        
footer {padding: 5px;
        height: 50px;
        position: fixed;
        bottom:0%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        background-color: #7face3;
        min-width: 700px;}      

#footer_info_right   {text-align: right;
                    color: white;
                    font-size: .6em;
                    float: right;
                    padding-right: 50px;
                    height: 50px;}   

#footer_info_left   {
                    min-height: 40px;
                    color:white;
                    padding-left:50px;
                    width: 200px;
                    font-size: .6em;
                    text-align: left;
                    }
.property_management_logo_box   {height:20px;
                                padding: 0px;
                                margin: 0px;}

.property_management_logo_box img {height: 40px;}

.social_box {position: relative;
            top:-40px;
            left: 300px;}

.badges_box {float: left;
            margin: 5px;
            position: relative;
            bottom: -15px;}               

/******************************** BACKGROUND  ***************************/

#background_image   {width: 100%;
                    display: block;
                    margin: auto;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: -3;}

#background_image img   {width: 100%;}

.background_fade    {width: 100%;
                    display: block;
                    position: fixed;
                    top: 0px;
                    margin: auto;
                    height: 1000vh;
                    background-color: rgba(255,255,255,.6);
                    z-index: -2;}

/********************************   BODY   ***************************/


.logo_box   {margin: auto;
            width:80%;
            margin-top: 170px;
            max-width: 1100px; }

#logo           {
                display: block;
                margin: auto;
                width:80%;
                max-width: 1100px;
                min-width: 300px;}

.outer_description  {
                    width: 100%;
                    background-color: rgba(255,255,255, .7);
                    padding: 0px;
                    margin: 0px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                    }

.inner_description  {text-align: center;
                    width: 70%;
                    max-width: 700px;
                    margin: auto;
                    padding: 10px;
                    }

.slogan {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;
        text-align: center;}

.description    {font-size: .9em;
                letter-spacing: .05em;}


/********************************   PICTURES   ***************************/


.big_pic_box   {margin: auto;
            width:80%;
            margin-top: 170px;
            margin-bottom: 80px;
            max-width: 1100px; 
            background-color: rgba(255, 255, 255, .6);
            box-shadow: 3px 3px 6px #888888;
            padding:20px;}

#big_pic        {display: block;
                margin: auto;
                width: 100%;
                max-width: 1100px;
                min-width: 300px;}

.head_pic   {display: block;
            margin: auto;
            width:80%;
            max-width: 1100px;
            min-width: 300px;
            padding:10px;
            background-color: white;
            }

.pic_main_text  {margin: auto;
                text-align: center;
                padding: 20px;
                width: 64%;
                max-width: 930px;
                font-size: 1.1em;
                letter-spacing: .05em;
                color: #adadad;
                font-family: 'Josefin Slab', Arial, sans-serif;}

.all_pics   {display: block;
            margin: auto;
            width:80%;
            max-width: 1100px;
            min-width: 300px;
            padding:10px;
            border:1px dotted red;}

.not_seen_pic_box  {width: 200px;
                    padding: 0px;
                    min-height: 350px;
                    margin: 0px 30px 0px 30px;
                   float: left;}


.small_pic_box  {width: 200px;
                display: block;
                background-color: white;
                margin: 10px;
                padding: 10px;
                float:left;}

.small_pic_box img  {width: 100%;}











































































        