/******************************** BODY AND UNIVERSAL  ***************************/

body {font-family: arial;
    margin: 0px;}

textarea {resize: none;}

.shadow{box-shadow: 5px 5px 5px #dddddd;}

            
hr {border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }


.righter    {text-align: right;}

.righter_light    {text-align: right;
                    font-size: .8em;}

.lefter_light    {text-align: left;
                    font-size: .7em;}

.lefter    {text-align: left;}

.center    {text-align: center;}

.bold   {font-weight: bolder}

.smaller    {font-size: .7em;}

.error  {color:red;
        font-size: .8em;
        font-weight: bold;}



/******************************** LINKS AND INPUT ***************************/
a {text-decoration: none;
    cursor: pointer;}


/*a:link {display: inline;}

a:hover   {color:white;
            background: #A2B5CD;}
a:visited {}
a:active  {color:#DEDEDE; 
          background: #6E7B8B;}*/


/******************************** NAVBAR  ***************************/
            
#nav_bar    {
            background-color: rgb(61, 89, 171);
            margin-left: 0px;
            position: fixed;
            top: 0px;
            border: none;
            width: 100%;
            height: 110px;
            z-index: 5;
            margin-bottom: 0px;
            }

#nav_bar_inner {width: 90%;
                height: 110px;
                max-width: 1100px;
                margin: auto;
                margin-top: 0px;
                padding: 0px;
                margin-bottom: 0px;}

#name_box   {margin: 0px;
            padding: 0px;
            float: left;
            display: block;
            height: 110px;}


#name_text  {display: inline-block;
            position: absolute;
            height: 110px;
            width: 280px;
            margin-left: 20px;
            overflow: hidden;}

#name_text p    {display: table-cell; 
                height: 110px; 
                vertical-align: middle;}

.name   {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;}


.address_bar    {
                min-width: 870px;
                padding: 0px;
                width: 100%;
                opacity: .85;
                background-color:#CAE1FF;
                position: fixed;
                height: 45px;
                z-index: 0;}

.address_bar p      {width: 80%;
                    padding: 0px;
                    font-size: 1.6em;
                    text-align: center;
                    color:white;
                    letter-spacing: .1em;
                    font-family: 'Oswald', sans-serif;
                    /*z-index: 5;*/
                    margin:auto;}   

.nav_bar_links  {display: block;
                margin-left: 300px;
                } 

.nav_bar_links  span {min-width: 570px;
                    display: table-cell;
                    vertical-align: bottom;
                    font-size: 1.5em;
                    height: 90px;
                    font-family: 'Oswald', sans-serif;
                    padding: 10px;}

                   


/********************************  FOOTER ***************************/           
                        
footer {padding: 5px;
        height: 50px;
        position: fixed;
        bottom:0%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        background-color: #7face3;
        min-width: 700px;}      

#footer_info_right   {text-align: right;
                    color: white;
                    font-size: .6em;
                    float: right;
                    padding-right: 50px;
                    height: 50px;}   

#footer_info_left   {
                    min-height: 40px;
                    color:white;
                    padding-left:50px;
                    width: 200px;
                    font-size: .6em;
                    text-align: left;
                    }
.property_management_logo_box   {height:20px;
                                padding: 0px;
                                margin: 0px;}

.property_management_logo_box img {height: 40px;}

.social_box {position: relative;
            top:-40px;
            left: 300px;}

.badges_box {float: left;
            margin: 5px;
            position: relative;
            bottom: -15px;}               

/******************************** BACKGROUND  ***************************/

#background_image   {width: 100%;
                    display: block;
                    margin: auto;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: -3;}

#background_image img   {width: 100%;}

.background_fade    {width: 100%;
                    display: block;
                    position: fixed;
                    top: 0px;
                    margin: auto;
                    height: 1000vh;
                    background-color: rgba(255,255,255,.6);
                    z-index: -2;}

/********************************   BODY   ***************************/


.logo_box   {margin: auto;
            width:80%;
            margin-top: 170px;
            max-width: 1100px; }

#logo           {
                display: block;
                margin: auto;
                width:80%;
                max-width: 1100px;
                min-width: 300px;}

.outer_description  {
                    width: 100%;
                    background-color: rgba(255,255,255, .7);
                    padding: 0px;
                    margin: 0px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                    }

.inner_description  {text-align: center;
                    width: 70%;
                    max-width: 700px;
                    margin: auto;
                    padding: 10px;
                    }

.slogan {font-family: 'Josefin Slab', Arial, sans-serif;
        letter-spacing: .05em;
        font-size: 2.3em;
        line-height: 90%;
        text-align: center;}

.description    {font-size: .9em;
                letter-spacing: .05em;}


/********************************   PICTURES   ***************************/


.big_pic_box   {margin: auto;
                width:80%;
                margin-bottom: 80px;
                max-width: 1100px; 
                padding:20px;}


.pic_main_text  {margin: auto;
                margin-top: 170px;
                text-align: center;
                background-color: rgba(255, 255, 255, .6);
                box-shadow: 3px 3px 6px #888888;
                padding: 20px;
                width: 100%;
                font-size: 1.1em;
                letter-spacing: .05em;
                color: #adadad;
                font-family: 'Josefin Slab', Arial, sans-serif;}

.pic_main_text_none  {margin: auto;
                    margin-top: 130px;
                    padding: 20px;
                    width: 100%;}

.pic_main_text p    {width: 80%;
                    max-width: 1000px;
                    margin: auto;
                    display: block;}

.all_pics   {display: block;
            margin: auto;
            width:80%;
            max-width: 1100px;
            min-width: 300px;
            padding:10px;
            border:1px dotted red;}

.not_seen_pic_box  {width: 200px;
                    padding: 0px;
                    min-height: 350px;
                    margin: 0px 30px 0px 30px;
                    float: left;}


.small_pic_box  {width: 200px;
                display: block;
                background-color: rgba(255,255,255, .7);
                margin: 10px;
                padding: 10px;
                float:left;
                cursor: pointer;}

.small_pic_box_shadow  {width: 200px;
                        display: block;
                        background-color: white;
                        margin: 10px;
                        padding: 10px;
                        float:left;
                        box-shadow: 6px 6px 15px #555555;}

.small_pic_box img  {width: 100%;}

.small_pic_box_shadow img  {width: 100%;}

.view_pic_box   {position: absolute;
                top:0px;
                left:0px;
                z-index: 6;
                width: 100%;
                display: none;
                background-color: rgba(0,0,0, .6);}


.view_small_pic_box {width: 60%;
                    margin: auto;
                    margin-top: 30px;
                    margin-bottom: 600px;
                    background: rgba(0,0,0, .6);
                    padding: 15px;
                    border-radius: 10px;}

.view_small_pic_box img {width: 100%;
                        display: block;
                        margin: auto;}

.close_x    {position: relative;
            display: block;
            float: left;}

.pic_caption {color: white;
            font-family: 'Josefin Slab', Arial, sans-serif;
            text-align: center;
            padding:10px;
            display: block;
            width: 90%;}


/********************************   FLOORPLANS   ***************************/

.floorplan_big_box  {margin: auto;
                    padding:10px;
                    display: block;
                    position: relative;
                    top:170px;
                    margin-bottom: 250px;}

.inner_floorplan_box {box-shadow: 3px 3px 6px #888888;
                    background-color: rgba(255,255,255, .6);
                    margin: auto;
                    width: 750px; 
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: auto;}

.floorplan_pic  {width: 350px;
                min-height: 150px;
                background-color:rgba(255,255,255, .6);
                border: 1px solid #ccc;
                float: left; }

.floorplan_pic img {width: 100%;}

.floorplan_info     {width: 375px;
                    margin-left: 20px;
                    float: left;}


.floorplan_info table   {width: 100%;
                        border-collapse: collapse;
                        background-color:rgba(255,255,255, .6)}

.floorplan_info table tr    {height: 35px;
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                            }

.floorplan_info table tr td {padding:5px;}

.floorplan_name {color:#8B7355;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.4em}

.floorplan_text {color:#8B7355;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: .9em}

.floorplan_text_small   {font-family: 'Josefin Slab', Arial, sans-serif;
                        font-size: .8em}

/********************************   AMENITIES   ***************************/

.amenities_big_box  {margin: auto;
                    padding:10px;
                    display: block;
                    position: relative;
                    top:170px;
                    margin-bottom: 250px;}

.inner_amenities_box {
                    /*background-color: rgba(255,255,255, .6);*/
                    margin: auto;
                    width: 750px; 
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: auto;}

.amenities_pic  {width: 350px;
                padding: 10px;
                min-height: 150px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888; }

.amenities_pic img {width: 100%;}

.amenities_text {width: 350px;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:#8B7355;
                margin-bottom: 20px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1em }

.amenities_pet {width: 350px;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:#8B7355;
                margin-top: 20px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1.2em }

.amenities_pet_small    {font-size: .8em;}
.amenities_pet_xsmall    {font-size: .6em;}

.amenities_list {float: right;
                width: 330px;
                padding: 10px;
                background-color:rgba(255,255,255, .8);
                border: 1px solid #ccc;
                box-shadow: 3px 3px 6px #888888;
                color:#8B7355;
                margin-bottom: 20px;
                font-family: 'Josefin Slab', Arial, sans-serif;
                font-size: 1em}

.amenities_list ul li {line-height: 1.5em;}

.amenities_title    {font-size: 1.4em;
                    display: block;
                    text-align: center;}

.super  {vertical-align: super;
        font-size: .4em;}

/********************************   CONTACT   ***************************/


.contact_box    {margin: auto;
                display: block;
                position: relative;
                top:165px;
                margin-bottom: 50px;}

.contact_box_inner  {box-shadow: 3px 3px 6px #888888;
                    background-color: rgba(255,255,255, .85);
                    border: 1px solid #ccc;
                    margin: auto;
                    width: 475px; 
                    padding: 15px;
                    margin-bottom: 20px;
                    overflow: auto;
                    font-family: 'Josefin Slab', Arial, sans-serif;
                    font-size: 1.2em;
                    color:#8B7355; }

.contact_box_inner input, textarea {
                            border: 3px solid white; 
                            -webkit-box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            -moz-box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            box-shadow: 
                              inset 0 0 4px  rgba(0,0,0,0.2),
                                    0 0 8px rgba(0,0,0,0.2); 
                            padding: 5px;
                            background: rgba(255,255,255,0.5);
                            margin: 0 0 5px 0;
                        }

.button_style   {cursor: pointer;
                color:#8B7355;}

.hours_list {font-size: .8em;
            line-height:1.6em;}



























































        