 
<!DOCTYPE html>
<html lang="en" >
<head>
    <title>
      Stadium Oaks Apartments : San Angelo : TX    </title>
    <link rel="shortcut icon" type="image/x-icon" href="http://localhost/stadiumoaks/images/favicon.ico">
    <meta charset="utf-8" />
    <meta name="description" content="Exquisite Living - Close to Everything   Stadium Oaks is a beautifully landscaped apartment community close to everything you need.  Blocks from great restaurants, shopping and entertainment and minutes from Angelo State. Stadium Oaks is a beautifully landscaped apartment community close to everything you need.  Blocks from great restaurants, shopping and entertainment and minutes from Angelo State. Stadium Oaks is a beautifully landscap">
    <meta name="keywords" content="Stadium Oaks Apartments, apartments, San Angelo, TX">
    
    <script type="text/javascript" src="http://localhost/stadiumoaks/javascript/apartment_javascript.js"></script>
    <link href="http://localhost/stadiumoaks/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="http://localhost/stadiumoaks/javascript/jquery-1.10.2.js"></script>
    <script src="http://localhost/stadiumoaks/javascript/jquery-ui-1.10.4.custom.js"></script>
   
    <link type="text/css" rel="stylesheet" href="http://localhost/stadiumoaks/css/apartment_view_main.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400' rel='stylesheet' type='text/css'>
    <script>
        // google analytics
    </script>


</head>
<body>
    <script type="text/javascript">
   
    </script>
    <div class="background_fade">
    
        
    </div>
    <div id="background_image">
        <img src="http://localhost/stadiumoaks/images/pictures/7/mainpicsquare.jpg" alt="">        
    </div><div id="nav_bar" style="background-color: #f4da58;">
    <div id="nav_bar_inner">
        <div id="name_box">
        <div id='name_text'><p><a href='http://localhost/stadiumoaks/' class='name' style='color:#518d0e;'>Stadium Oaks Apartments</a></p</div>        </div>
    </div>
       
</div><div class="address_bar" id="address_bar" style="background-color: #7face3;">


	
</div>
<div class="logo_box">
	<img id="logo" src="http://localhost/stadiumoaks/images/logos/property/StadLogo.png" alt="StadLogo.png">
</div>
<div id="outer_description" class="outer_description" >	
	<div id="inner_description" class="inner_description" >	
		<span id="slogan" class="slogan" style="color:#518d0e">Exquisite Living - Close to Everything</span>
		<br>
		<p id="description" class="description">Stadium Oaks is a beautifully landscaped apartment community close to everything you need.  Blocks from great restaurants, shopping and entertainment and minutes from Angelo State. Stadium Oaks is a beautifully landscaped apartment community close to everything you need.  Blocks from great restaurants, shopping and entertainment and minutes from Angelo State. Stadium Oaks is a beautifully landscap</p>
	</div>
</div>

<footer>
        <div id="footer_info">
	        &COPY; PHP Name &nbsp;&nbsp;&nbsp; For More Information Call: PHP Phone<br>
	        PHP Address
	        <div>easyapartmentsites.com Info</div>
        </div>
        
</footer>

</body>
</html>